
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: auto;

    box-shadow: 0px 10px 20px 0px #2B2A29;
    max-width: 1920px;
    margin: 0 auto !important;

}


body,
p,
span,
a {
    font-family: "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: 700 !important;
    margin: 0 0 16px 0;

    line-height: 100%;
}



/***********************************/


.institute-main {
    margin: 40px 0;
    display: flex;
}

@media screen and (max-width: 786px) {
    .institute-main {
        flex-direction: column;
    }
}

/* =============== БОКОВОЕ МЕНЮ ===============*/
.side-menu {
    flex: 1 0 25%;
    margin-right: 20px;
}

.side-menu-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;

    display: flex;
    flex-direction: column;
}

.button-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /*color: #8C8C8C;*/
    color: #595959;
    opacity: 60%;
    padding: 10px 8px;
    margin-bottom: 8px;
}

.button-link.active{
    color: #444A8F;
    opacity: 100%;
    background-color: #EEEEEE;
}

/* подпункты */

.side-menu-sticky ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    /*margin-top: 8px;*/
}

.side-menu-sticky .sub-link {
    margin: 0 0 8px 20px;
}

.side-menu-sticky .sub-link a {
    text-decoration: none;
    color: #595959;
    opacity: 60%;
}

.side-menu-sticky .sub-link::before {
    content: "\f054";
    font-family: FontAwesome;
    color: #999;
    font-size: 8px;

    display: inline-block;
    width: 0;

    position: relative;
    bottom: 2px;
    left: -10px;
}

.side-menu-sticky .sub-link .active {
    text-decoration: none;
    color: #444A8F;
    opacity: 100%;
}



.button-link:hover{
    opacity: 100%;
    background-color: #E3E3E3;
}

.side-menu-sticky .sub-link a:hover {
    opacity: 100%;
}

/* мобильный экран */

.side-menu--mobile {
    display: none;
}

@media screen and (max-width: 786px) {
    .side-menu--mobile {
        display: block;
        margin-bottom: 20px;
    }

    #side-menu--open, #side-menu--close{
        all: unset;
    }

    #side-menu--close {
        display: block;
        color: white;
        font-size: 24px;
        text-align: right;
        width: 24px;
    }

    #side-menu--open {
        color: #444A8F;
    }

    #side-menu--open span {
        font-weight: bold;
        margin-left: 8px;
    }


    .side-menu-sticky {

        background-color: #333333;
        margin: 0 40px 0 -16px;
        padding: 40px 20px;

        max-width: 400px;
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 1000;

        transition: transform 0.5s ease;
    }

    .side-menu-sticky .button-link {
        color: white;
        opacity: 60%;
    }

    .side-menu-sticky .button-link.active{
        color: white;
        opacity: 100%;
        background-color: transparent;
    }

    .side-menu-sticky .sub-link a {
        color: white;
        opacity: 60%;
    }

    .side-menu-sticky .sub-link .active {
        color: white;
    }

    .side-menu-sticky .button-link:hover{
        background-color: transparent;
        opacity: 100%;
    }
}

@media screen and (max-width: 786px) {
    .translate0{
        transform: translateX(0);
    }

    .translate400{
        transform: translateX(-400px);
    }
}

/* ================= ОСНОВНАЯ ЧАСТЬ =============== */
.institute-body {
    flex: 1 1 75%;

    min-height: 100vh;
}

.institute-body h1 {
    color: #780000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* ========== ССЫЛКИ ========= */

.institute--other-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media screen and (max-width: 786px) {
    .institute--other-links {
        margin-top: 20px;
    }
}

.other-link {
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #E3E3E3;
    margin-right: 20px;
}

.other-link:hover {
    color: #444A8F;
}

/* ============ КОНТАКТЫ ========== */

.institute--contact-info {
    display: flex;
    margin-top: 40px;

}

@media screen and (max-width: 786px) {
    .institute--contact-info {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1040px) {
    .institute--contact-info {
        flex-direction: column;
    }
}

.institute--head {
    flex: 1 1 100%;

    display: flex;
}

.institute--head-photo {
    max-width: 150px;
    min-width: 120px;
    width: 15vw;
    margin-bottom: 8px;
}

.institute--head-wrap {
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

.institute--head-wrap h4 {
    margin-bottom: 0;
}

@media screen and (max-width: 1040px) {
    .institute--head {
        flex-direction: column;
    }

    .institute--head-wrap {
        margin-right: 0;
        margin-bottom: 8px;
        flex-direction: row;
    }

    .institute--head-photo {
        margin-right: 20px;
    }
}

.institute--head-photo img {
    width: 100%;
    clip-path: circle(50%);
}

.institute--head-wrap p, .institute--head-wrap a {
    color: #8C8C8C;
}

.institute--contact {
    /*background-color: lightpink;*/

    flex: 0 0 315px;
    /*margin-left: 20px;*/
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 20px 0 #00000024;
}

.institute--contact h4 {
    color: #780000;
    margin-bottom: 16px;
}

.institute--contact p {
    margin-bottom: 12px;
}

/* =========== ШКОЛЫ ============= */

.small-title {
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.institute--schools {
    margin-top: 40px;
}

@media screen and (max-width: 786px) {
    .institute--schools {
        margin-top: 20px;
    }
}

.institute--school-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.school-container {
    box-shadow: 0 4px 4px 0 #00000040;

    max-width: 49%;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
}

@media screen and (max-width: 1040px) {
    .school-container {
        max-width: 100%;
    }
}

.school--img {
    margin: 12px;
    max-width: 180px;
    min-width: 180px;

    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1040px) {
    .school--img {
        max-width: 120px;
        min-width: 120px;
    }
}


.school--img img {
    width: 100%;
    object-fit: contain;
}

.no-logo {
    background-image: url("../img/sc-bg.png");
    background-size: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.no-logo .school--img {
    min-height: 180px;
}

@media screen and (max-width: 1040px) {
    .no-logo .school--img {
        min-height: 120px;
    }
}

.school--text {
    color: white;
    padding: 20px 12px 12px 12px;
    background: linear-gradient(90deg, transparent 0%, #444A8F 100%) #2E2E2E;

    height: fit-content;
    width: 100%;

    transition: all 0.5s ease;
}

.school--text a {
    color: white;
}

.school--text:hover {
    background-color: #444A8F;
}

.school--text p:first-child {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.school--text p:not(:first-child) {
    font-size: 12px;
    margin-bottom: 0;
    opacity: 70%;
}

/* ============= НОВОСТИ =============== */

.institute--news {
    margin-top: 40px;
}

@media screen and (max-width: 786px) {
    .institute--news {
        margin-top: 20px;
    }
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin-bottom: 20px;*/
}


.news-card {
    flex-grow: 1;

    max-width: 32%;
    height: 100%;
    background-color: #780000;
    box-shadow: 0 4px 4px 0 #00000040;
    margin-bottom: 20px;
}

@media screen and (max-width: 1040px) {
    .news-card {
        max-width: 49%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 500px) {
    .news-card {
        max-width: 100%;
        margin-bottom: 12px;
    }
}

.news-card a {
    color: white;
    font-size: 14px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.news--img {
    overflow: hidden;
}

.news--img img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;

}

.news-card a:hover .news--img img {
    transform: scale(105%);
}

.news--title {
    display: flex;
    align-items: center;
    padding: 8px 12px;

    min-height: 6em;
}

@media screen and (max-width: 1400px) {
    .news--title {
        min-height: 8.5em;
    }
}

@media screen and (max-width: 500px) {
    .news--title {
        min-height: 6em;
    }
}

.news--date {
    margin-right: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news--label p {
    margin: 0;
}